# This config refers to building CUDA op kernels with nvcc.
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --@local_config_cuda//:enable_cuda
build:cuda --action_env=TF_CUDA_VERSION="11"
build:cuda --action_env=TF_CUDNN_VERSION="8"
build:cuda --action_env=TF_NEED_CUDA="1"
build:cuda --action_env=TF_CUDA_COMPUTE_CAPABILITIES="sm_75,compute_80"

# This config refers to building CUDA op kernels with clang.
build:cuda_clang --config=cuda
build:cuda_clang --repo_env TF_CUDA_CLANG=1
build:cuda_clang --@local_config_cuda//:cuda_compiler=clang

# Flag to enable remote config
common --experimental_repo_remote_exec

build --linkopt="-ldl"
build --spawn_strategy=standalone
build --strategy=Genrule=standalone
build -c opt
build --action_env TF_HEADER_DIR="/usr/local/lib/python3.8/dist-packages/tensorflow/include"
build --action_env TF_SHARED_LIBRARY_DIR="/usr/local/lib/python3.8/dist-packages/tensorflow"
build --action_env TF_SHARED_LIBRARY_NAME="libtensorflow_framework.so.2"
build --action_env TF_NEED_CUDA="0"
build --action_env LD_LIBRARY_PATH="/usr/local/lib/python3.8/dist-packages/tensorflow/:/usr/local/nvidia/lib:/usr/local/nvidia/lib64"
