build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true
build --linkopt="-ldl"
build --spawn_strategy=standalone
build --strategy=Genrule=standalone
build -c opt
build --action_env TF_HEADER_DIR="/usr/local/lib/python3.8/dist-packages/tensorflow/include"
build --action_env TF_SHARED_LIBRARY_DIR="/usr/local/lib/python3.8/dist-packages/tensorflow"
build --action_env TF_SHARED_LIBRARY_NAME="libtensorflow_framework.so.2"
build --action_env TF_NEED_CUDA="0"
build --action_env LD_LIBRARY_PATH="/usr/local/lib/python3.8/dist-packages/tensorflow/:/usr/local/nvidia/lib:/usr/local/nvidia/lib64"
