oss2==2.17.0
deepspeed==0.10.0
fairscale==0.4.1
transformers==4.31.0
networkx
pyomo
pynvml==11.4.1
grpcio==1.34.1
grpcio-tools==1.34.1
unifile_sdk==0.1.14
fsspec==2023.1.0
alipay-pcache==0.1.6
zdfs-dfs==2.3.2
pyarrow==12.0.0
pandas==2.0.1
tensorboard==2.11.0
dlrover[torch]==0.3.3
protobuf==3.20.3
safetensors