uvicorn~=0.38.0
packaging~=23.2
dlrover~=0.5.0.1rc0
PyYAML~=6.0.2
pytest~=7.4.3
kubernetes~=33.1.0
requests~=2.31.0
torch~=2.7.1
tornado~=6.5.2
psutil~=7.0.0
Deprecated~=1.2.18
numpy~=1.26.2
pandas~=2.3.2
tqdm~=4.67.1
setuptools~=79.0.1
matplotlib~=3.10.6
aiohttp~=3.12.13
perfetto~=0.14.0
fastapi~=0.122.0
pydantic~=2.12.5