---
name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/pre-commit
  dlrover-python-test:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - name: checkout branch
        uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - name: RUN pytest
        uses: ./.github/actions/dlrover-python-test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: 043586e5-68b8-4588-9bf4-c333f2692345
          slug: intelligent-machine-learning/dlrover
  operator-test:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - name: RUN gotest
        uses: ./.github/actions/operator-test
  brain-test:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/brain-test
  dlrover-system-test-criteo-deeprec:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/dlrover-system-test-criteo-deeprec
  dlrover-system-test-deepfm:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/dlrover-system-test-deepfm
  dlrover-system-test-tf2:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/dlrover-system-test-tf2
  atorch-python-test:
    runs-on: self-hosted
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
        with:
          clean: false
      # This step references the directory that contains the action.
      - uses: ./.github/actions/atorch-python-test
  atorch-pre-commit:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/atorch-pre-commit
  tfplus-python-test:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # Check 'tfplus' changes for PR or set true for direct push
      - name: Determine if job should run
        id: run_decision
        run: |
          if [ "${{ github.event_name }}" = "push" ]; then
            echo "::set-output name=run_job::true"
          else
            DIFF=$(git diff --name-only \
              ${{ github.event.pull_request.base.sha }} HEAD)
            if echo "$DIFF" | grep -q "tfplus/"; then
              echo "::set-output name=run_job::true"
            else
              echo "::set-output name=run_job::false"
            fi
          fi
      # Run tests if conditions are met
      - name: Run tfplus tests
        if: steps.run_decision.outputs.run_job == 'true'
        uses: ./.github/actions/tfplus-python-test
  tfplus-pre-commit:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v3
      # This step references the directory that contains the action.
      - uses: ./.github/actions/tfplus-pre-commit
