name: Publish Python Package

on:
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: easydl/dlrover:ci

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Install Build Tools
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Build Package
      run: sh scripts/build_wheel.sh

    - name: Publish to PyPI
      env:
        TWINE_USERNAME: dlrover
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        python -m twine upload dist/*
