name: build and publish dlrover whl to pypi

on:
  workflow_dispatch:
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    container:
      image: easydl/dlrover:ci
    environment:
      name: pypi

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Build Tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build Package
        run: sh scripts/build_wheel.sh

      - name: Publish to PyPI
        run: |
          python -m twine upload dist/dlrover*